* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: black;
  font-family: "Roboto", sans-serif;
}

.exercise__list button {
  background-color: #1c6758;
  color: white;
  margin-right: 15px;
  padding: 6px 10px;
  border: none;
}

.exercise__content h3 {
  font-size: 25px;
}

.exercise__content button {
  background-color: #ede4e0;
  padding: 6px 30px;
  margin-top: 5px;
  border-radius: 40px;
  border: 1px solid #ede4e0;
  font-weight: 600;
}

.exercise__content button:hover {
  background-color: #aa8b56;
  color: white;
}

.exercise__content div.result {
  background-color: #446a46;
  color: white;
  border: 2px solid #446a46;
  border-radius: 8px;
  padding: 15px 30px;
  line-height: 1.3;
  opacity: 0.6;
  margin-top: 25px;
  font-size: 20px;
  font-weight: 600;
}

.exercise__content div.result span {
  margin-left: 5px;
}

.exercise__content div:last-of-type::before {
  content: "";
}

.ex-4-result div {
  color: white;
  font-weight: 500;
  line-height: 1.75;
  padding-left: 20px;
  margin-top: 7px;
  margin-left: 5px;
}

@media screen and (max-width: 1440px) {
  .form-group,
  .ex-4-result div,
  .exercise__content div.result {
    width: 55%;
  }
}

@media screen and (max-width: 763px) {
  .container {
    margin-left: 40px;
  }
  .exercise__content div.result {
    width: 75%;
  }
}
